node_modules/
/dist/
/vendor/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/config/
/static
package-lock.json
# Editor directories and files
.DS_Store
.idea
.vscode
*.pdf
*.pem
*.exe
*.suo
*.ntvs*
*.njsproj
*.sln

